[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = https://github.com/sukima/xmledit.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
    ignore = untracked
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git@github.com:jjjesus/snipmate.vim.git
    ignore = untracked
[submodule "bundle/vim-bufexplorer"]
	path = bundle/vim-bufexplorer
	url = git://github.com/thisivan/vim-bufexplorer.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
